h2 a {
    text-decoration: none;
    color: #8a153a;
    position: relative;
}
h2 a::before{
    content: "";
    bottom: 0;
    height: 0.1rem;
    position: absolute;
    transition: 0.9s cubic-bezier(0.17, 0.67, 0, 1.01);
}
a:hover::before {
    left: 0;
    background-color: #8a153a;
    width: 100%;
  }
